<br>
<h2>Inti<h2>
 <%= image_tag "sol.png" %>
<ul>
	<h4>Inti is a community-driven collection of research publications where  you can access and submit research publications for free!</h4>

	<h4>If you are the author of a research paper, simply make an account and upload your publications for others to enjoy.</h4>

	<h4>Share your knowledge!</h4>
</ul>