<h2> Edit Item </h2>


<%= render 'form' %>

<!-- add form to be able to edit entries -->

<!-- make sure controller has access to @publication in show -->
<!-- put what you want button to show in quotes, then the path after the comma -->

<%= link_to 'Show', @publication %> |
<%= link_to 'Back', publications_path %>

