
<% if current_user %>
	<%= "Welcome #{current_user.user_name}"%>
<% else %>
	<%= link_to 'Sign In', login_path, :class => 'btn btn-success' %>
<% end %>

<h1>Publications</h1>

<ul>
	<% @publications.each do |publication| %>
		<li>
		<%= link_to(publication.title, publication_path(publication))%>
		, <%= publication.publication_date %></li>
	<% end %>
</ul>









 




