<h1>Welcome to Publications</h1>
<p>Find me in app/views/publications/index.html.erb</p>




<form action="/logout" method="post">
	<input name="_method" value="DELETE" type="hidden">
<button>Logout</button>
</form>


<form action="/publications/index" method="post">
<input name="title" type="text" placeholder="title">
<input name="publication_date" type="date" placeholder="DD-MM-YYYY">
<input name="synopsis" type="text" placeholder="synopsis">
<button>Add Information</button>
</form>





 




