<!-- forms for more publications -->

<!-- <form action="/publications/index" method="post">
	<input name="title" type="text" placeholder="title">
	<input name="publication_date" type="date" placeholder="DD-MM-YYYY">
	<input name="synopsis" type="text" placeholder="synopsis">
	<button>Add Information</button>
</form> -->

<%= render 'form' %>

