<h1>Sign Up</h1>

<!-- form to sign up and make account -->

<form action="/users" method="post">
  <label>User Name</label>
  <input name="user_name" type="text" placeholder="user_name">

  <label>Password</label>
  <input name="password" type="password" placeholder="password">

  <label>Password Confirmation</label>
  <input name="password_confirmation" type="password" placeholder="password confirmation">

  <button>Sign Up</button>
</form>